[submodule "_layouts"]
	path = _layouts
	url = https://github.com/pirati-web/layouts
[submodule "_includes"]
	path = _includes
	url = https://github.com/pirati-web/partials
[submodule "_data/people"]
	path = _data/people
	url = https://github.com/pirati-web/people.git
[submodule "images"]
	path = images
	url = https://github.com/pirati-web/images.git
[submodule "_data/--force"]
	path = _data/--force
	url = https://github.com/pirati-web/people.git
