[submodule "_layouts"]
	path = _layouts
	url = https://github.com/pirati-web/layouts.git
[submodule "_includes"]
	path = _includes/shared
	url = https://github.com/pirati-web/partials.git
[submodule "_data/people"]
	path = _data/people
	url = https://github.com/pirati-web/people.git
[submodule "images"]
	path = images
	url = https://github.com/pirati-web/images.git
[submodule "_data/--force"]
	path = _data/--force
	url = https://github.com/pirati-web/people.git
[submodule "admin"]
	path = admin
	url = https://github.com/pirati-web/admin
