---
layout: default
section: blog
description: Stránka táborské pirátské buňky s nejnovějšími články a základním rozcestníkem.
keywords: organizace,transparence,politika
---

<div class="callout">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-7 offset-lg-1">
        <h1>JSME PIRÁTI TÁBOR</h1>
        <h2>A POMÁHÁME NAŠEMU MĚSTU</h2>
        <p id="calloutpopis">
          Naším cílem je obec, kde může každý člověk prožít svůj život svobodně a naplno.
          Klíčem k prosperitě naší společnosti je otevřenost,
          kvalitní vzdělání a veřejné služby,
          použití nových technologií a zapojení občanů do rozhodování.
        </p>
        <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-sm-12 col-lg-8">
      <section id="posts">
      {% for post in site.posts limit:2 %}
        <div class="column">
        {% include shared/articlesumary.html %}
        </div>
      {% endfor %}
        <h4><a href="/clanky/">Ostatní články ...</a></h4>
      </section>

      <section id="akce" class="mt-3">
        <h2>nejblyžší akce</h2>

        {% for item in site.events limit:3 %}
        {% include shared/eventsummary.html item=item %}
        {% endfor %}

      </section>

    </div>

    <div class="col-sm-12 col-lg-4">
      {% include rightbar.html %}
    </div>
  </div>

</div>
