---
title: Články
layout: page
description: Články o táborské politice s nádechem pirátkých myšlenek
keywords: články, tábor, politika, pohled
---

<div class="row">
{% for post in paginator.posts %}
  <div class="col-sm-12 col-md-6">
  {% include shared/articlesumary.html %}
  </div>
{% endfor %}
</div>

<hr>

<!-- Pagination links -->
<div class="pagination row">
  <div class="col-sm-12">
    <div class="float-left">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="left button round">
        <i class="fas fa-arrow-left"></i> Předchozí stránka
      </a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="right button round">
        Další stránka <i class="fas fa-arrow-right"></i>
      </a>
    {% endif %}
    </div>
    <div class="float-right">
      <span>Stránka: {{ paginator.page }} z {{ paginator.total_pages }}</span>
    </div>
  </div>
</div>
