{% for item in site.related_posts limit:4 %}
<article class="col3">
  <a class='item' href='{{item.url}}'>{{item.title}}</a>

  <h6>
    <span><i class="fa fa-tags"></i> {{ item.tags | category_links }}</span> |
    <time datetime="{{post.date|date:"%F"}}">{{page.date|date:"%d.%m.%Y"}}</time>
  </h6>

  <p>{{ item.excerpt }}</p>
</article>
{% endfor %}

<h2>Archiv <i class="fa fa-archive"></i></h2>
<ul>
  {% for post in site.posts %}

    {% unless post.next %}
      <h3>{{ post.date | date: '%Y' }}</h3>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h3>{{ post.date | date: '%Y' }}</h3>
      {% endif %}
    {% endunless %}

    <li>{{ post.date | date:"%b" }} <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
