<section id="program">
  <div class="card">
    <div class="card-header text-white" style="background-color: #383076;">
      <h3>Komunální program</h3>
    </div>
    <ol class="list-group list-group-flush">
      {% include program/list.html class="list-group-item" %}
    </ol>
    <div class="card-footer">
      <h3><a href="/program/">PODROBNÝ PROGRAM ...</a></h3>
    </div>
  </div>
</section>

<section id="facebook">
  <div class="card mt-3">
    <div class="card-header text-white" style="background-color: #4260b4;">
      <h3>sleduj nás na facebooku</h3>
    </div>
    <div class="card-body">
      Naše faceboková stránka je:
      <h3><a href="{{ site.facebookurl }}" target="_blank">Piráti Tábor</a></h3>
    </div>
  </div>
</section>
