<li class="{{include.class}}">
  <h4><a href="/volby/program/#c1">Město budoucnosti</a></h4>
  <!-- <div class="skret">koncepční řízení, rozvoj</div> -->
</li>
<li class="{{include.class}}">
  <h4><a href="/volby/program/#c2">Moderní město</a></h4>
</li>
<li class="{{include.class}}">
  <h4><a href="/volby/program/#c3">Finance a investice</a></h4>
</li>
<li class="{{include.class}}">
  <h4><a href="/volby/program/#c4">Vyvážená doprava</a></h4>
  <!-- <div class="skret">Doprava a vozidla, veřejná doprava</div> -->
</li>
<li class="{{include.class}}">
  <h4><a href="/volby/program/#c5">Bydlení a majetek</a></h4>
  <!-- <div class="skret">Stavební řízení, byty a nemovitosti města</div> -->
</li>
<li class="{{include.class}}">
  <h4><a href="/volby/program/#c6">Bezpečné město</a></h4>
</li>
<li class="{{include.class}}">
  <h4><a href="/volby/program/#c7">Atraktivni město pro všechny</a></h4>
  <!-- <div class="skret">Životní prostředí, Sociální oblast</div> -->
</li>
<li class="{{include.class}}">
  <h4><a href="/volby/program/#c8">Město sportu a vzdělání</a></h4>
  <!-- <div class="skret">Sport, vzdělávání, mládež</div> -->
</li>
<li class="{{include.class}}">
  <h4><a href="/volby/program/#c9">Živé město</a></h4>
  <!-- <div class="skret">Kultura a cestovní ruch</div> -->
</li>
