<li class="{{include.class}}">
  <a href="/program/#c1">Město budoucnosti</a>
  <div class="skret">koncepční řízení, rozvoj</div>
</li>
<li class="{{include.class}}">
  <a href="/program/#c2">Moderní město</a></li>
<li class="{{include.class}}">
  <a href="/program/#c3">Finance a investice</a></li>
<li class="{{include.class}}">
  <a href="/program/#c4">Vyvážená doprava</a>
  <div class="skret">Doprava a vozidla, veřejná doprava</div>
</li>
<li class="{{include.class}}">
  <a href="/program/#c5">Bydlení a majetek</a>
  <div class="skret">Stavební řízení, byty a nemovitosti města</div>
</li>
<li class="{{include.class}}">
  <a href="/program/#c6">Bezpečné město</a></li>
<li class="{{include.class}}">
  <a href="/program/#c7">Atraktivni město pro všechny</a>
  <div class="skret">Životní prostředí, Sociální oblast</div>
</li>
<li class="{{include.class}}">
  <a href="/program/#c8">Město sportu a vzdělání</a>
  <div class="skret">Sport, vzdělávání, mládež</div>
</li>
<li class="{{include.class}}">
  <a href="/program/#c9">Živé město</a>
  <div class="skret">Kultura a cestovní ruch</div>
</li>
