@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: normal;
  src: local('Bebas Neue'), url('/static/fonts/BebasNeue-Regular.ttf');
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

h1, h2, h3, h4 {
  font-family: 'Bebas Neue', sans-serif;
}
h1 {
  font-size: 4em;
  margin-top: 10px;
}

ol h4, ul h4 {
  margin: 0;
}

blockquote {
  font-style: italic;
  padding-left: 1em;
  border-left: 3px solid #383076;
}

#akce h2 {
  text-transform: uppercase;
}

.article img {
  width: 100%;
}

.splashdiv {
  height: 10em;
  overflow: hidden;
}

.middle-bar h1 {
  color: white;
}
.middle-bar {
  background: $darkgray right no-repeat;
  padding-top:15px;
  padding-bottom:15px;
  margin-bottom: 15px;
}
#logo {
  margin-left: 20px;
  height: 30px;
}
.top-bar-title {
  margin-top: .5em;
}

.summaryperex {
  font-size: smaller;
}

.metadata {
  font-size: 14px;
  color: #777;
}
.metadata autor {
  padding: 4px;
  color: white;
  background-color: #383076
}

.card-header h3 {
  text-transform: uppercase;
  margin: 0;
}

#downlinks a {
  margin-left: 2em;
}

#footer {
  color: #19182b;
}

.callout {
  color: white;
  padding: 3em 0;
  background-image: url("https://a.pirati.cz/jihocesky/img/tabor/web/titulka.jpg");
  background-color: black;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  margin-bottom: 2em;
  border-radius: 0;
}

#calltext {
  background: rgba(0,0,0,0.5);
}

.callout #kdo {
  font-size: 50px;
}
.callout #co {
  font-size: 24px;
  font-weight: lighter;
}
#calloutpopis {

}

.faded {
  background-color:rgba(0, 0, 0, 0.8);
  padding: 2em;
  color: white;
}

.myfooter {
  margin-top: 2em;
  padding: 1em;
}

.copyright {
  font-size: 14px;
  color: #aaa;
}

#downmenu {
  float: right;
  margin-bottom: 1em;
}
#downmenu li {
  list-style-type: none;
}
#downmenu a {
  color: white;
}
.skret {
  margin-bottom: 1em;
  color: #444;
}

.navbar .nav-item {
  border-left: 1px solid #999;
  padding: 0 2em;
}
.navbar .nav-item:first-child {
  border-left: none;
}

/* program */

.ilustrace-program {
  float:right;
  margin-left:10px;
  margin-bottom:10px;
  margin-right:0px;
  margin-top:0px;
}

@media only screen and (max-width: 500px) {
  .ilustrace-program {
    display:block; width:90%; max-width:300px;
    margin-right:5%; margin-left:5%; float:none;
  }
}

.callout .subheader {
  font-size: 24px;
}

.callout p {
  font-size: 14px;
}

div.perex {
  margin-bottom: 20px;
  font-size: 120%;
}

h1 small {
  display: block;
  margin-bottom: 25px;
  margin-top: 10px;
}

.card-body, .list-group-item {
  background-color: #f3f3f3;
}


/* blog */
img.blog {float: right;
margin-bottom: 10px;
margin-left: 10px;}

.splash {
  width: 100%;
}

.portrets img {
  margin: 0 15px 15px 0;
  width: 120px;
  height: 160px;
}

.portrets hr {
  clear: both;
}

.card .list-group-item {
  font-size: 16px;
}

article .perex {
  font-size: 14px;
}
article {
  margin-bottom: 2em;
}
article h3 a {
  text-transform: uppercase;
}
.blog h1 {
  text-transform: uppercase;
}

form[name="joinform"] {
  margin-bottom: 2em;
}

.kandidatka {
  position: relative;
}

.kandidatka .text {
  text-align: center;
}

.kandidatka img {
  width: 100%;
  border-radius: 25%;
  margin-bottom: 1em;
}
