body {
  font-family: 'Open Sans', sans-serif;
}


// ten cernej radek s napisem mistniho sdruzeni
.middle-bar h1 {
  color: white;
}
.middle-bar {
  background: $darkgray right no-repeat;
  padding-top:15px;
  padding-bottom:15px;
  margin-bottom: 15px;
}
#logo {
  margin-left: 20px;
  height: 30px;
}
.top-bar-title {
  margin-top: .5em;
}

.callout {
  background-image: url("/static/heroback.jpg");
  background-color: black;
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  margin-bottom: 2em;
}

.faded {
  background-color:rgba(0, 0, 0, 0.8);
  padding: 2em;
  color: white;
}

.myfooter {
  margin-top: 2em;
  padding: 1em;
}

.copyright {
  padding: .5em;
}

/* candidate list */

div.candidatecolumn {padding-left:0px !important;}

#candidatelist li.active-candidate, #candidatelist li:hover {
  background:yellow;
}
#candidatelist strong {display:block;}
#candidatelist img {float:left;margin-right:5px;}
.orbit-timer, .orbit-slide-number {display:none;}
#candidatelist li {height:65px;}
ul#candidatelist {margin-left:0px;list-style-type: none;}

@media only screen and (max-width: 48em) {
#candidatelist img {display:none;}
#candidatelist strong {display:inline;padding-right:5px;}
#candidatelist li {display:inline;}
#candidatelist span {display:none;}
}

/* program */

.ilustrace-program {
  float:right;
  margin-left:10px;
  margin-bottom:10px;
  margin-right:0px;
  margin-top:0px;
}

@media only screen and (max-width: 500px) {
  .ilustrace-program {
    display:block; width:90%; max-width:300px;
    margin-right:5%; margin-left:5%; float:none;
  }
}

.callout .subheader {
  font-size: 24px;
}

.callout p {
  font-size: 14px;
}

div.perex {
  margin-bottom: 20px;
  font-size: 120%;
}

h1 small {
  display: block;
  margin-bottom: 25px;
  margin-top: 10px;
}


/* blog */
img.blog {float: right;
margin-bottom: 10px;
margin-left: 10px;}

.splash {
  margin-bottom: 20px;
}

.portrets img {
  margin: 0 15px 15px 0;
  width: 120px;
  height: 160px;
}

.portrets hr {
  clear: both;
}

article {
  margin-bottom: 2em;
}
