body {
  font-family: 'Mina', sans-serif;
}

.blog blockquote {
  font-style: italic;
  padding-left: 1em;
  border-left: 3px solid #383076;
}

.splashdiv {
  height: 10em;
  overflow: hidden;
}

.middle-bar h1 {
  color: white;
}
.middle-bar {
  background: $darkgray right no-repeat;
  padding-top:15px;
  padding-bottom:15px;
  margin-bottom: 15px;
}
#logo {
  margin-left: 20px;
  height: 30px;
}
.top-bar-title {
  margin-top: .5em;
}

.summaryperex {
  font-size: smaller;
}

.metadata {
  font-size: 14px;
  color: #777;
}
.metadata autor {
  padding: 4px;
  color: white;
}

.card-header h3 {
  text-transform: uppercase;
  margin: 0;
  font-size: 25px;
}

#downlinks a {
  margin-left: 2em;
}

#footer {
  color: #19182b;
}

.callout {
  color: white;
  padding: 3em 0;
  background-image: url("/static/banner.jpg");
  background-color: black;
  background-position: center top;
  background-size: auto;
  background-repeat: no-repeat;
  border: none;
  margin-bottom: 2em;
  border-radius: 0;
}
.callout h1 {
  font-size: 50px;
}
.callout h2 {
  font-size: 24px;
}
#calloutpopis {
  font-size: 16px;
}

.faded {
  background-color:rgba(0, 0, 0, 0.8);
  padding: 2em;
  color: white;
}

.myfooter {
  margin-top: 2em;
  padding: 1em;
}

.copyright {
  font-size: 14px;
  color: #aaa;
}

#downmenu {
  float: right;
  margin-bottom: 1em;
}
#downmenu li {
  list-style-type: none;
}
#downmenu a {
  color: white;
}
.skret {
  font-size: small;
  color: #444;
}

.navbar .nav-item {
  border-left: 1px solid #999;
  padding: 0 2em;
}
.navbar .nav-item:first-child {
  border-left: none;
}

/* candidate list */

div.candidatecolumn {padding-left:0px !important;}

#candidatelist li.active-candidate, #candidatelist li:hover {
  background:yellow;
}
#candidatelist strong {display:block;}
#candidatelist img {float:left;margin-right:5px;}
.orbit-timer, .orbit-slide-number {display:none;}
#candidatelist li {height:65px;}
ul#candidatelist {margin-left:0px;list-style-type: none;}

@media only screen and (max-width: 48em) {
#candidatelist img {display:none;}
#candidatelist strong {display:inline;padding-right:5px;}
#candidatelist li {display:inline;}
#candidatelist span {display:none;}
}

/* program */

.ilustrace-program {
  float:right;
  margin-left:10px;
  margin-bottom:10px;
  margin-right:0px;
  margin-top:0px;
}

@media only screen and (max-width: 500px) {
  .ilustrace-program {
    display:block; width:90%; max-width:300px;
    margin-right:5%; margin-left:5%; float:none;
  }
}

.callout .subheader {
  font-size: 24px;
}

.callout p {
  font-size: 14px;
}

div.perex {
  margin-bottom: 20px;
  font-size: 120%;
}

h1 small {
  display: block;
  margin-bottom: 25px;
  margin-top: 10px;
}

.card-body, .list-group-item {
  background-color: #f3f3f3;
}


/* blog */
img.blog {float: right;
margin-bottom: 10px;
margin-left: 10px;}

.splash {
  width: 100%;
}

.portrets img {
  margin: 0 15px 15px 0;
  width: 120px;
  height: 160px;
}

.portrets hr {
  clear: both;
}

.card .list-group-item {
  font-size: 16px;
}

article .perex {
  font-size: 14px;
}
article {
  margin-bottom: 2em;
}
article h3 a {
  color: #383076;
  text-transform: uppercase;
  font-size: 25px;
}
.blog h1 {
  text-transform: uppercase;
  font-size: 25px;
}
