<section id="givemoney">
  <h2>přispěj na kampaň</h2>
  <p>
    Převodem na transparentní účet <a href="https://ib.fio.cz/ib/transparent/?a=2100048174">2100048174/2010</a>
    pod specifickým symbolem: <b>191204</b>
  </p>
  <p>
    <b>POZOR!</b>: zákon nařizuje dohledatelnost dárce,
    takže v poznámce musí být tvoje datum narození a obec trvalého bydliště.</br>
    <b>Nedohledatelné dary propadají státu :(</b>
  </p>
  <p>
    Velký dar tj. nad 50 000 Kč vyžaduje vyplnění <a href="/static/darsmlouva.docx">darovací smlouvy</a>,
    její podepsání a poslání/předání někomu z nás.
  </p>
</section>
