---
layout: default
section: blog
---


<div class="small-12 large-8 columns">

  <h2>{{ page.title }}</h2>

  <span class='date'>{{page.date | date:"%b %d"}}</span>

  {% if page.splash %}
    {% if page.splash contains 'http' %}
      {% capture url %}{{page.splash}}{% endcapture %}
    {% else %}
      {% capture url %}{{site.baseurl}}{{page.splash}}/{% endcapture %}
    {% endif %}

  <img src='{{url}}' alt='splash image' class="img-responsive" />

  {% endif %}

  {{content}}

</div>


<div class="small-12 large-4 columns">
  {% include related.html %}
</div>
