---
layout: default
section: blog
---


<div class="small-12 large-8 columns">

  <h2>{{ page.title }}</h2>

  <h6>
    {% if page.autor %}<autor class="radius label">{{ page.autor }}</autor> | {% endif %}
    <i class="fa fa-clock-o"></i> <time datetime="{{post.date|date:"%F"}}">{{page.date|date:"%b %d, %Y"}}</time>
  </h6>

  {% if page.splash %}
    {% if page.splash contains 'http' %}
      {% capture url %}{{page.splash}}{% endcapture %}
    {% else %}
      {% capture url %}{{site.baseurl}}{{page.splash}}/{% endcapture %}
    {% endif %}

  <img src='{{url}}' alt='splash image' class="img-responsive splash" />

  {% endif %}

  {{content}}

  <span class="category"><i class="fa fa-tags"></i> {{ page.tags | category_links }}</span>

</div>


<div class="small-12 large-4 columns">
  {% include related.html %}
</div>
