---
layout: default
section: blog
---


<div class="small-12 large-8 columns">

  <h2>{{ page.title }}</h2>

  <h6>
    {% if page.autor %}<autor class="radius label">{{ page.autor }}</autor> | {% endif %}
    <i class="fa fa-clock-o"></i> <time datetime="{{post.date|date:"%F"}}">{{page.date|date:"%b %d, %Y"}}</time>
  </h6>

  {% if page.splash %}
  <img src='{{page.splash}}' alt='splash image' class="img-responsive splash" />
  {% endif %}

  {{content}}

  <span class="category"><i class="fa fa-tags"></i> {{ page.tags | category_links }}</span>

  <hr>

  {% if page.previous %}
    <a rel="prev" class="left button round" href="{{ page.previous.url }}">
      <i class="fa fa-arrow-left"></i> Předchozí článek
    </a>
  {% endif %}
  {% if page.next %}
    <a rel="next" class="right button round" href="{{ page.next.url }}">
      Další článek <i class="fa fa-arrow-right"></i>
    </a>
  {% endif %}

</div>


<div class="small-12 large-4 columns">
  {% include related.html %}
</div>
