<!DOCTYPE html>
<html lang="cz">
  {% include head.html %}

<body>

  <header id="header" class="contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name"></li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="left">
          {% include nav.html %}
        </ul>
      </section>
    </nav>
  </header>

  <div class="middle-bar">
    <div class="row">
      <div class="small-12 columns">
        <h1 class="left">{{ site.title }}</h1>
        <img id="logo" src="/static/logo.png" alt="logo" />
      </div>
    </div>
  </div>

  <div class="row">
    <section role="main">
      {{ content }}
    </section>
  </div>

  {% include footer.html %}

  <script>
    $(document).foundation();

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-60370496-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
