---
title: Podpoř nás
layout: page
description: Podpoř nás buď darem, tím, že se k nám přidáš, nebo ukážeš nějaký propagační materiál
keywords: podpora
---

<div class="row">
  <div class="col-sm-12 col-lg-8">

    <h2>Sleduj Facebook</h2>
    Fanpage <a href="{{ site.facebookurl }}" target="_blank">Piráti Tábor</a>
    obsahuje všechny důležité informace.

    <section id="form">
      <h2>přidej se</h2>
      <a href="https://nalodeni.pirati.cz/">Naloď se k naší posádce</a> a vyber
        si jaké místo na palubě chceš zastávat ;)
    </section>

    <section id="materials">
      <h2>propagační materiály ke stažení</h2>

      <ul>
        {% for item in site.data.materialy %}
          <li><a href="{{item.link}}">{{item.name}}</a></li>
        {% endfor %}
      </ul>
    </section>

  </div>

  <div class="col-sm-12 col-lg-4">
    {% include rightbar.html %}
  </div>
</div>
